.header-title {
  font-size: 7rem;
  font-weight: 400;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--hidden {
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  padding: 2rem 0;

  width: 600px;
  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4rem;
    margin: 2rem 1rem 3rem;
    font-weight: 400;
  }
  &__label {
    align-self: flex-start;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1rem;
    padding-left: 6rem;
  }
  &__input {
    height: 3rem;
    width: 23rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &__button-box {
    margin-top: 1rem;
  }
  &__button {
    margin: 1rem 1rem;
    border-radius: 5px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}
